body {
    background: linear-gradient(
            to right,
            rgba(234, 233, 215, 1) 0%,
            rgba(219, 219, 194, 1) 42%,
            rgba(197, 196, 160, 1) 51%,
            rgba(245, 245, 193, 1) 100%
    );
}

.taskWrapper {
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-bottom: 20px;
}

.taskHeading {
    font-size: 20px;
    margin-bottom: 15px;
}

.taskDescription {
    font-size: 16px;
}

.btn-danger {
    display: block;
    margin-left: auto;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
}
