body {
    background: linear-gradient(
            to right,
            rgba(236, 245, 249, 1) 0%,
            rgba(82, 187, 218, 1) 41%,
            rgba(82, 187, 218, 1) 53%,
            rgba(170, 220, 238, 1) 80%,
            rgba(236, 245, 249, 1) 100%
    );
}

.taskWrapper {
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-bottom: 20px;
}

.taskHeading {
    font-size: 20px;
    margin-bottom: 15px;
}

.taskDescription {
    font-size: 16px;
}

.btn-danger {
    display: block;
    margin-left: auto;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
}
