body {
    font-family: Arial, sans-serif;
    padding: 20px;
}



ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.dark {
    background-color: #333;
    color: #fff;
}

.toggleFavorite {
    cursor: pointer;
}

.radio-container {
    display: flex;
    width: 200px;
    height: 36px;
    background: lightseagreen;
    overflow: hidden;
    position: relative;
    z-index: 5;
    border-radius: 40px;
}

input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

input[type="radio"] + label {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input[type="radio"] ~ span {
    position: absolute;
    top: 2px;
    left: calc(100% - 2px);
    transform: translateX(-100%);
    bottom: 2px;
    width: 50%;
    border-radius: 40px;
    background: lightgrey;
    z-index: -1;
    transition: .3s ease;
}

input[type="radio"]:checked + label + input + label + span {
    left: 2px;
    transform: translateX(0);
}