html {
    position: relative;
    height: 100%;
}

body {
    background-image: url(./img/tekstura_seryj_fon_polosy_76569_1024x768.jpg);
    background-size: auto;
    position: relative;
    height: 100%;
}

h1 {
    text-align: center;
}

.swiper {
    margin-top: 120px;
    width: 100%;
    height: auto;
}

.swiper-slide {
    height: 340px;
    text-align: center;
    border-radius: 0 30px 0 30px;
    overflow: hidden;
    object-fit: cover;
}

.swiper-pagination {
    display: block;
    background-color: black;
}

.card {
    height: 100%;
    cursor: pointer;
    transition: all 0.4s;
}

.card:hover {
    background-color: lightgray;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
